* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background: #f5f5f5;
}

.fira_sans {
  font-family: 'Fira Sans', serif;
  font-style: normal;
}

/* shared style */
.btn_primary {
  background: #006a50;
  height: 60px;
  width: 275px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.btn_primary:hover {
  background: #0f9473;
  color: rgb(243, 211, 180);
}

/* header swction style */

header {
  width: 100%;
  height: 100px;
  background: #f5f5f5;
}
.nav_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 160px 24px 160px;
}

.nav_logo {
  color: #0e0e0e;
  font-weight: bold;
  font-size: 32px;
  cursor: pointer;
}

.nav_button {
  width: 115px;
  height: 51px;
  border: 1.5px solid #006a50;
  border-radius: 7.5px;
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  cursor: pointer;
  transition: 0.3s;
}

.nav_button:hover {
  background: #0f6852;
  color: #ffffff;
}

/* hero section style */

#hero {
  width: 1550px;
  height: 650px;
  margin: 0 auto;
}

.hero_section {
  display: flex;
  width: 100%;
  height: 650px;
  align-items: center;
  justify-content: center;
  gap: 64px;
  background: #c6e4d6;
  border-radius: 24px;
  margin-top: 20px;
}

.sub_title {
  font-size: 26px;
  font-weight: 500;
  color: #0e0e0e;
  margin-bottom: 20px;
}

.title {
  font-size: 56px;
  color: #0e0e0e;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 25px;
}

.hero_text {
  margin-left: 60px;
}
.hero_img {
  margin-right: 60px;
}

/* Pillars of "Bangladesh 2.0" style */

.pillars_of_2 {
  width: 1550px;
  height: 350px;
  margin: 0 auto;
}

.items_pillars {
  display: flex;
  gap: 24px;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.title2_0 {
  margin-top: 80px;
  font-weight: 700;
  font-size: 42px;
  color: #0e0e0e;
}

.pillars_item {
  padding: 24px;
  border: 2px solid #d4d4d6;
  border-radius: 17px;
  background: #ffffff;
  margin-top: 100px;
}

.title_2 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 24px;
  color: #0e0e0e;
}
.sub_title1 {
  font-size: 18px;
  font-weight: 400px;
  color: #0e0e0e;
  margin-top: 15px;
}

/* vision_items style */

.vision {
  width: 1550px;
  height: 350px;
  margin: 0 auto;
  padding: 40px 0;
}

.vision_items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
  gap: 32px;
}
.vision_title {
  font-weight: 700;
  font-size: 42px;
  color: #0e0e0e;
  margin-bottom: 40px;
}

.vision_item_1 {
  background: rgba(84, 144, 245, 0.2);
  border-radius: 17px;
  padding: 40px;
  gap: 24px;
}

.vision_item_2 {
  background: #bce0d6;
  border-radius: 17px;
  padding: 40px;
}
.vision_item_3 {
  background: rgb(247, 235, 207);
  border-radius: 17px;
  padding: 40px;
}

.vision_button_1 {
  padding: 14px 24px 15px 24px;
  border-radius: 9px;
  border: none;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background: #5490f5;
  transition: 0.3s;
}
.vision_button_1:hover {
  background: #122c5a;
}

.vision_button_2 {
  padding: 14px 24px 15px 24px;
  border-radius: 9px;
  border: none;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background: #09a15c;
  transition: 0.3s;
}
.vision_button_2:hover {
  background: #07492b;
}
.vision_button_3 {
  padding: 14px 24px 15px 24px;
  border-radius: 9px;
  border: none;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  background: rgb(255, 194, 57);
  transition: 0.3s;
}
.vision_button_3:hover {
  background: rgb(148, 111, 23);
}

/* quote section */

.Dr_Y {
  width: 1550px;
  height: 350px;
  margin: 0 auto;
  padding: 40px 0;
}
.dr_Yunos {
  margin-top: 10px;
  background-repeat: no-repeat;
  height: 256px;
  width: 1550px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  margin-top: 200px;
  border: 1.5px solid rgba(14, 14, 14, 0.15);
  border-radius: 17px;
  position: relative;
}

.dr_Yunos_qutation {
  background-image: url('./assets/quote-bg.png');
  position: absolute;
  height: 50px;
  width: 50px;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 30px;
  left: 30px;
}

.Yunos_quote_1 {
  color: #0e0e0e;
  font-size: 20px;
  margin-top: 40px;
}
.Yunos_quote_2 {
  color: #0e0e0e;
  font-size: 23px;
  font-weight: 600;
  margin-top: 15px;
}

.Yunos_quote_3 {
  color: #0e0e0e;
  font-size: 18px;
  font-weight: 400;
  margin-top: 9px;
}

/* table style */
.Opinion {
  width: 1550px;
  height: 350px;
  margin: 0 auto;
}

.Opinion_table {
  display: flex;
  flex-direction: column;

  gap: 32px;
}
.table_title {
  margin: 120px 0px 80px 0px;
  font-size: 43px;
  font-weight: 700;
}
.table_main {
  background: #ffffff;
}
.table {
  padding: 40px;
  border-radius: 13px;
  background: #ffffff;
}
table {
  border-collapse: collapse;
}

thead {
  background: #c6e4d6;
}
table td,
th {
  border: 1.5px solid #c0c0c0;
  border-collapse: collapse;
  padding: 26px;
}
table th {
  text-align: start;
  font-size: 23px;
  font-weight: 600;
  color: #0e0e0e;
}
.table_border {
  border-left: none;
}
.table_border1 {
  border-right: none;
}

tbody td {
  font-weight: 600;
  font-size: 18px;
  color: #0e0e0e;
}

.table_btn {
  padding: 23px 30px 23px 30px;
  margin-left: 120px;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 7px;
  background-color: rgba(9, 161, 92, 0.15);
  cursor: pointer;
  transition: 0.3s;
}

.table_btn:hover {
  background: #09a15c;
  color: #ffffff;
}

/* news section style */
.news_1 {
  width: 1550px;
  height: 350px;
  margin: 0 auto;
}

.recent {
  display: flex;
  gap: 50px;
}

.news_title {
  margin-top: 360px;
  font-size: 43px;
  font-weight: 700px;
  color: #0e0e0e;
}

.news_dec {
  margin-top: 27px;
  font-size: 20px;
  font-weight: 400px;
  color: #0e0e0e;
}

.recent_news {
  padding: 50px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  margin-top: 50px;
  margin-bottom: 50px;
}
.sec_tight_img img {
  height: 406px;
  width: 508px;
  border-radius: 15px;
}
.aljazeera_news {
  margin-top: 50px;
  color: #0e0e0e;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 50px;
}

.news_2 {
  width: 1550px;
  height: 350px;
  margin: 0 auto;
  margin-top: 420px;
}

.news_3 {
  width: 1550px;
  height: 340px;
  margin: 0 auto;
  margin-top: 250px;
}

/* Donate today */

.donate_section {
  width: 1550px;
  height: 350px;
  margin: 0 auto;
}
.donate_section {
  text-align: center;
  margin-top: 250px;
}
.donate_title {
  font-weight: 700;
  font-size: 43px;
  margin-bottom: 50px;
}
.donate_dec {
  font-size: 20px;
  font-weight: 400px;
  color: #0e0e0e;
}
.takar_box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.taka {
  border-radius: 20px;
  padding: 40px;
  background: #ffff;
  margin-top: 35px;
  padding: 40px 70px;
  font-weight: 700;
  font-size: 43px;
  cursor: pointer;
  transition: 0.3s;
}
.taka:hover {
  background-color: #6a9b84;
}
.taka_2 {
  border-radius: 20px;
  margin-top: 35px;
  padding: 40px 70px;
  background: #c6e4d6;
  color: #0e0e0e;
  font-weight: 700;
  font-size: 43px;
  cursor: pointer;
  transition: 0.3s;
}

.taka_2:hover {
  background-color: #6a9b84;
}

.other_taka {
  margin-top: 50px;
  width: 1550px;
  height: 74px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  border: none;
  margin-bottom: 50px;
}

.btn_primary_1 {
  background: #006a50;
  height: 65px;
  width: 200px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.btn_primary_1:hover {
  background: #0f9473;
  color: rgb(243, 211, 180);
}

/* last section style */
.last_section {
  width: 1550px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.newsletter {
  margin-top: 250px;
  text-align: center;
  width: 1550px;
  height: 400px;
  background: #c6e4d6;
  box-sizing: border-box;
  padding: 80px 150px;
  border-radius: 27px;
}

.last_heading {
  font-size: 44px;
  font-weight: 700;
  color: #0e0e0e;
}
.newsletter > p {
  font-size: 20px;
  font-weight: 400px;
  color: #0e0e0e;
  margin-top: 20px;
}
.email {
  height: 60px;
  width: 675px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  font-weight: 400px;
  font-size: 23px;
  color: #0e0e0e;
  text-align: unset;
}

.email_and_btn {
  margin-top: 100px;
}
.last_btn {
  background: #006a50;
  height: 60px;
  width: 275px;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-top-left-radius: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -5px;
}
.last_btn:hover {
  background: #0f9473;
  color: rgb(243, 211, 180);
}

/* footer style */
.footer_style {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  background: #ffff;
}

.footer_items {
  width: 1550px;
  height: 350px;
  margin: 0 auto;
}
.logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 1550px;
  margin: 0 auto;
  justify-content: center;
  padding-top: 50px;
  gap: 30px;
  margin-bottom: 50px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
